<div class="d-flex">
  <!-- Sidebar -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">The Gifs-App</h3>
    <hr class="text-white">
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
    </div>
  </div>
  <!-- End Sidebar -->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Search:</h5>
        <input type="text" class="form-control" placeholder="Gifs search...">
      </div>
    </div>
    <hr />
<div class="row">
  <div class="col">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In, iusto. Assumenda sunt laudantium doloribus, repellat sapiente mollitia labore, nulla facilis nobis distinctio exercitationem praesentium ducimus, ipsam sint minima vel aperiam?
  </div>
</div>
  </div>
</div>